*.o
*.a
*.so
*.elf
*.so
*.gcov
*.gcno
*.gcda
*.swp
*.swo
*~
*.pkt
*.tof
*.avi
*.mp4
*.png
*.asv
school_map.geojson
navigation/bld/
a.out
bld/
target/
log/
SampleData/
cgreen_1.2.0_amd64.deb
*.geojson
.gitattributes
PicoZenseUTool_*/
